.word-list-item {
    display: flex;
    justify-content: space-between;
	width: 600px;
	margin: 15px auto;
	padding: 4px 10px;
	border: 1px #dedede solid;
	background: #f7f7f7;
}

.more-button {
    cursor: pointer;
    width: 20px;
}